<div id="<%= dom_id carshopping %>">
  <p>
    <strong>Total:</strong>
    <%= carshopping.total %>
  </p>

  <p>
    <strong>User:</strong>
    <%= carshopping.user_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= carshopping.product_id %>
  </p>

</div>
