<h1>Editing carshopping</h1>

<%= render "form", carshopping: @carshopping %>

<br>

<div>
  <%= link_to "Show this carshopping", @carshopping %> |
  <%= link_to "Back to carshoppings", carshoppings_path %>
</div>
