<p style="color: green"><%= notice %></p>

<h1>Carshoppings</h1>



<div id="carshopping">
  <% @carshopping.each do |carshopping| %>
    <%= render carshopping %>
    <p>
      <%= link_to "Show this carshopping", carshopping %>
    </p>
  <% end %>
</div>

<head>
  
</head>
<body>
  <h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>
</body>

<%= link_to "New carshopping", new_carshopping_path %>
