<div id="<%= dom_id whishlist %>">
  <p>
    <strong>Total:</strong>
    <%= whishlist.total %>
  </p>

  <p>
    <strong>User:</strong>
    <%= whishlist.user_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= whishlist.product_id %>
  </p>

</div>
